:host {
  flex: 1;
  padding: 2em;
  overflow-y: scroll;
}

.content {
  padding-top: 0.5em !important;
}

.input {
  flex: 1;
}

.mr {
  margin-right: 1rem;
}

.ui.selection.dropdown {
  min-width: 230px;
}

.ui.dimmer {
  padding-top: calc(41px + 1em) !important;
}
