<div class="flex-row">
  <div class="ui icon input mr">
    <input type="text" placeholder="Search...">
    <i class="search icon"></i>
  </div>

  <button class="ui teal button mr">
    Advanced Search
  </button>

  <div class="ui icon buttons">
    <button data-content="View results in detail" class="ui button" (click)="viewMode = 'details'" [class.active]="viewMode === 'details'"><i class="th list icon"></i></button>
    <button data-content="View results in a grid" class="ui button" (click)="viewMode = 'grid'" [class.active]="viewMode === 'grid'"><i class="th icon"></i></button>
  </div>
</div>

<div class="ui items">
  <div class="item" *ngFor="let song of currentResults">
    <div class="image">
      <img *ngIf="song.directLinks['album.png']" [src]="song.directLinks['album.png']">
      <img style="opacity: 0.5" *ngIf="!song.directLinks['album.png']" src="/assets/images/placeholder.jpg">
    </div>
    <div class="content">
      <span class="header">{{song.name}}</span>
      <div class="meta">
        <span>{{song.artist}} - {{song.album}} ({{song.year}})</span>
      </div>
      <div class="description">
        <p>test</p>
      </div>
      <div class="extra">
        test 2
      </div>
    </div>
  </div>
</div>
