<div class="flex-row">
  <div class="ui icon input mr">
    <input type="text" placeholder="Search..." [value]="settingsService.browseCurrentSearchQuery" (keydown)="handleBasicSearchKeydown($event)">
    <i class="search icon"></i>
  </div>

  <button class="ui teal button mr">
    Advanced Search
  </button>

  <div class="ui icon buttons mr">
    <button #uiCompactBtn data-content="View compact results" data-position="bottom center"
      class="ui button" (click)="settingsService.browseViewMode = 'compact'" [class.active]="settingsService.browseViewMode === 'compact'">
      <i class="list icon"></i>
    </button>
    <button #uiDetailBtn data-content="View results in detail" data-position="bottom center"
      class="ui button" (click)="settingsService.browseViewMode = 'details'" [class.active]="settingsService.browseViewMode === 'details'">
      <i class="th list icon"></i>
    </button>
    <button #uiGridBtn data-content="View results in a grid" data-position="bottom center"
      class="ui button" (click)="settingsService.browseViewMode = 'grid'" [class.active]="settingsService.browseViewMode === 'grid'">
      <i class="th icon"></i>
    </button>
  </div>

  <div #uiSortDropdown class="ui selection dropdown mr">
    <input type="hidden" name="sort" [value]="settingsService.browseSortType">
    <i class="dropdown icon"></i>
    <div class="default text">Relevance</div>
    <div class="menu">
      <div class="item" [attr.data-value]="i" *ngFor="let sortTypeReadable of sortTypeReadables; let i = index">{{sortTypeReadable}}</div>
    </div>
  </div>

  <div class="ui icon buttons mr">
    <button #uiNewestBtn data-content="Reload the latest charts" data-position="bottom right" class="ui icon button" (click)="loadLatestData()"><i class="star icon"></i></button>
    <button #uiRandomBtn data-content="Randomize!" data-position="bottom right" class="ui grey icon button" (click)="randomize()"><i class="question icon"></i></button>
  </div>
</div>

<div class="ui active inverted dimmer" [style.display]="loading ? 'flex' : 'none'">
  <div class="ui medium text loader">Loading...</div>
</div>

<app-chart-item [data]="settingsService.browseCurrentSongResults" [mode]="settingsService.browseViewMode" (detailsClicked)="handleDetailClicked($event)" (downloadClicked)="handleDownloadClicked($event)"></app-chart-item>
