<div class="flex-row">
  <div class="ui icon input mr">
    <input type="text" placeholder="Search...">
    <i class="search icon"></i>
  </div>

  <button class="ui teal button mr">
    Advanced Search
  </button>

  <div class="ui icon buttons mr">
    <button #uiCompactBtn data-content="View compact results" data-position="bottom center" class="ui button" (click)="viewMode = 'compact'" [class.active]="viewMode === 'compact'"><i class="list icon"></i></button>
    <button #uiDetailBtn data-content="View results in detail" data-position="bottom center" class="ui button" (click)="viewMode = 'details'" [class.active]="viewMode === 'details'"><i class="th list icon"></i></button>
    <button #uiGridBtn data-content="View results in a grid" data-position="bottom center" class="ui button" (click)="viewMode = 'grid'" [class.active]="viewMode === 'grid'"><i class="th icon"></i></button>
  </div>

  <div #uiSortDropdown class="ui selection dropdown mr">
    <input type="hidden" name="sort" value="0">
    <i class="dropdown icon"></i>
    <div class="default text"></div>
    <div class="menu">
      <div class="item" [attr.data-value]="i" *ngFor="let sortType of sortTypeReadable; let i = index">{{sortType}}</div>
    </div>
  </div>

  <button #uiRandomBtn data-content="Randomize!" data-position="bottom right" class="ui icon button" (click)="randomize()">
    <i class="question icon"></i>
  </button>
</div>

<div class="ui active inverted dimmer" [style.display]="loading ? 'flex' : 'none'">
  <div class="ui medium text loader">Loading...</div>
</div>

<app-chart-item [data]="currentResults" [mode]="viewMode"></app-chart-item>
