<div *ngIf="!downloadService.currentDownloads.length" class="no-downloads">
  No active downloads!
</div>

<div class="segment-list" *ngIf="downloadService.currentDownloads.length">
  <div class="ui segment" *ngFor="let download of downloadService.currentDownloads">
    <h4>{{download.song}} <span style="opacity: 0.5">({{download.artist}})</span></h4>
    <h4 style="margin: 0 0.5em;">-</h4>
    <h4>{{download.fileName}}</h4>
    <button *ngIf="download.percent === 100" class="ui tiny green icon button clear-button" (click)="clearDownload(download.id)">
      <i class="check icon"></i>
    </button>
    <div class="ui bottom attached indicating progress">
      <div [style.minWidth]="download.percent + '%'" [style.background]="download.percent === 100 ? '#21BA45' : '#FBBD09'" class="bar"></div>
    </div>
  </div>
</div>
