:host {
  flex: 1;
  padding: 2em;
  overflow-y: scroll;
}

.download-controls {
  justify-content: flex-end;
  margin-bottom: 1em;
}

.no-downloads {
  font-size: 1.25em;
  opacity: 0.5;
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.bar {
  transition: width .4s ease, background-color .4s ease, min-width .1s ease !important;
}

.clear-button {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

h4 {
  margin: 0;
  display: inline-block;
}
