:host {
  margin-top: 1.5em;
  position: relative;
  display: block;
}

.image {
  img {
    border-radius: 4px !important;
  }
}

.placeholder-image {
  opacity: 0.5;
}

.album-img {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  background-repeat: no-repeat;

  transition: opacity 0.4s;
}

.content {
  position: relative;

  .buttons {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.meta {
  p {
    margin-bottom: 0 !important;
  }
}

.item {
  animation: appear 0.4s forwards ease;
  opacity: 0;

  border-bottom: 1px dashed rgba(0,0,0,0.1) !important;
  padding-bottom: 1em !important;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-4px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
