:host {
  margin-top: 1.5em;
  position: relative;
  display: block;
}

.image {
  img {
    border-radius: 4px !important;
  }
}

.placeholder-image {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.album-img {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  background-repeat: no-repeat;

  opacity: 0;
}

.content {
  position: relative;

  .buttons {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.ui.animated.button {
  vertical-align: bottom !important;
}

.meta {
  p {
    margin-bottom: 0 !important;
  }
}

.item {
  border-bottom: 1px dashed rgba(0,0,0,0.1) !important;
  padding-bottom: 1em !important;
}

.appearanim {
  opacity: 0;
  animation: appear 0.4s forwards ease;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-4px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;

  .card {
    margin: 0 !important;

    .image {
      position: relative;
    }

    & > .content {
      display: flex;
      flex-direction: column;
    }

    .meta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 0.3s;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 1;
  }
}
